body{
	background-color: #003CFF;
	color: #fff;
	padding: 5px;
	border: 2px solid #fff;
	text-rendering: optimizeLegibility;
}

img:hover{
	cursor: pointer;
	opacity: 1;
}
img{
	opacity: 0.95;
	border-radius: 50%;
}

h3{
	font-family: tahoma;
}
h4 span:hover{
	cursor: pointer;
}

div{
	text-align: center;
}

h4{
	word-spacing: 5px;
	line-height: 20px;
}

#obj{
	text-decoration: underline;
	font-family: tahoma;
}

table{
	border: 1px solid #fff;
	
}

tr:hover{
	font-weight: bold;
}

th{
	font-style: italic;
}